version: "3"
services:
  casdoor:
    container_name: casdoor
    image: casbin/casdoor:latest
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data # Mount data directory
      - ./conf:/conf
      - ./logs:/logs
    environment:
      - GIN_MODE=release
    restart: unless-stopped
    networks:
      - shared_network
networks:
  shared_network:
    external: true